<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="Castle.Core" version="4.0.0" targetFramework="net471" />
  <package id="ID5D6AAC.Common.EventDispatcher" version="1.4.0" targetFramework="net471" />
  <package id="LitJson" version="0.13.0" targetFramework="net471" />
</packages>